{% extends 'templates/_base.html' %}
{% load static %}

{% block content %}


<div class="d-flex justify-content-around align-content-center">
    <div class="row align-items-center mt-2">
        <div class="col-sm-4 text-center">
            <h2>Aashutosh Kumar</h2>
            <p>Hunting problems via Engineering.</p>
        </div>
        <div class="col-sm-8 m-auto text-center ">
            <img class="img-fluid mb-3" src="{% static 'images/me.jpg' %}" class="rounded" style="width:70%">
        </div>
    </div>
</div>


<div class="d-flex justify-content-evenly m-3 flex-wrap accordion accordion-flush" id="accordion">
    
    <div class="card accordion-item m-2 p-2 border rounded bg-primary-subtle" id="django">
        <img class="card-img-top m-1" src="{% static 'images/django_logo.png' %}" style="max-width:350px" >
        <button class="btn btn-primary accordion-button collapsed mx-auto my-2 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-django" aria-expanded="false" aria-controls="collapse-django" style="max-width:90%">
            Django Developer
        </button>			
        <div id="collapse-django" class="accordion-collapse collapse" aria-labelledby="django" data-bs-parent="#accordion">
            <ul class="list-unstyled accordion-body text-center">
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap 4/5</li>
                <li>Django Rest Framework</li>
                <li>REST APIs</li>
                <li>htmx</li>
                <li>Data messaging & broker using redis, celery</li>
            </ul>	
        </div>
    </div>

    <div class="card accordion-item m-2" id="python">
        <img class="card-img-top" src="{% static 'images/python_logo.png' %}" style="max-width:350px" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-python" aria-expanded="false" aria-controls="collapse-python">
            Python Developer 
        </button>			
        <div id="collapse-python" class="accordion-collapse collapse" aria-labelledby="python" data-bs-parent="#accordion">
            <ul class="list-unstyled accordion-body">
                <li>Web Scrapping</li>
                <li>Working with REST APIS</li>
                <li>Infrastructure automation</li>
                <li>Building GUI Apps</li>
                <li>Scripts for DBs & Servers</li>
                <li>Classes, MultiThreading</li>
            </ul>	
        </div>
    </div>
    
    <div class="card accordion-item m-2" id="dba">
        <img class="card-img-top" src="{% static 'images/dba_logo.png' %}" style="max-width:350px" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-dba" aria-expanded="false" aria-controls="collapse-dba">
            Database Administration
        </button>			
        <div id="collapse-dba" class="accordion-collapse collapse" aria-labelledby="dba" data-bs-parent="#accordion">
            <ul class="list-unstyled accordion-body">
                <li>Oracle</li>
                <li>SQL Server</li>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>Redis</li>
            </ul>	
        </div>
    </div>


    <div class="card accordion-item m-2" id="devops">
        <img class="card-img-top" src="{% static 'images/scripting_logo.png' %}" style="max-width:350px" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-devops" aria-expanded="false" aria-controls="collapse-devops">
            DevOps, Automation Tools & Scripting
        </button>			
        <div id="collapse-devops" class="accordion-collapse collapse" aria-labelledby="devops" data-bs-parent="#accordion">
            <ul class="list-unstyled accordion-body">
                <li>Shell Scriting</li>
                <li>PowerShell Scriting</li>
                <li>Jenkins</li>
                <li>Ansible</li>
                <li>CI/CD</li>
                <li>Github-Actions</li>
            </ul>	
        </div>
    </div>

    <div class="card accordion-item m-2" id="linux" >
        <img class="card-img-top" src="{% static 'images/linux1.png' %}" style="max-width:350px" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-linux" aria-expanded="false" aria-controls="collapse-linux">
            Linux Administration
        </button>			
        <div id="collapse-linux" class="accordion-collapse collapse" aria-labelledby="linux" data-bs-parent="#accordion">
            <ul class="list-unstyled accordion-body">
                <li>Shell Scriting</li>
                <li>User & Groups, Security Management</li>
                <li>Cronjobs</li>
                <li>Package Installation</li>
                <li>Automated Housekeeping</li>
                <li>FS & Backups</li>
                <li>Auto Services</li>
            </ul>	
        </div>
    </div>

    <div class="card accordion-item m-2" id="cloud" >
        <img class="card-img-top" src="{% static 'images/git-gcp.png' %}" style="max-width:350px" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-cloud" aria-expanded="false" aria-controls="collapse-cloud">
            Git & Cloud
        </button>			
        <div id="collapse-cloud" class="accordion-collapse collapse" aria-labelledby="cloud" data-bs-parent="#accordion">
            <ul class="list-unstyled accordion-body">
                <li>Working with Git & GitHub</li>
                <li>AWS, GCP, Azure</li>
                <li>Deploying Apps to AWS, Google Cloud, Azure & Heroku</li>
                <li>AWS Lambda, Cloud Functions</li>
                <li>Managed Databases - RDS</li>
            </ul>	
        </div>
    </div>

    <div class="card accordion-item m-2" id="jira" >
        <img class="card-img-top" src="{% static 'images/jira-logo.png' %}" style="max-width:350px" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-jira" aria-expanded="false" aria-controls="collapse-jira">
            Jira Development
        </button>			
        <div id="collapse-jira" class="accordion-collapse collapse text-wrap" aria-labelledby="jira" data-bs-parent="#accordion">
            <ul class="list-unstyled accordion-body">
                <li>Dyanmic & Condtional Forms</li>
                <li>Complex workflows & Multi level Approvals based on thresholds.</li>
                <li>Integration with external data source</li>
                <li>Advanced automation using REST APIs, Python programs, Webhooks, Github-Actions</li>
                <li>Teams integration</li>
                <li>PowerBI Dashboards within Jira</li>
            </ul>	
        </div>
    </div>


</div>


{% endblock %}