{% extends 'templates/_base.html' %}
{% load static %}
{% block title %}Kwezar Technologies - IT Consulting{% endblock%}

{% block content %}
	
	<img class="img-fluid w-100 m-0 p-0" src="{% static 'images/kwezar-hero-2.jpg' %}" alt="kwezar-hero">

	<!-- Skills Cards -->
	<div class="d-flex justify-content-evenly align-items-center m-3 flex-wrap" id="accordion">
		
		<div class="card col-md-3 m-2 p-2 text-center border border-dark-subtle rounded bg-primary-subtle" style="max-width:350px">
			<img class="card-img-top mx-auto my-2" src="{% static 'images/django_logo.png' %}">
			<div class="card-body text-center">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#django" aria-expanded="false" aria-controls="django" >
					Django Developer
					<img src="{% static 'images/arrow-down.png' %}" style="width:5%">
				</button>
				<div class="collapse" id="django" data-bs-parent="#accordion">
					<ul class="list-unstyled text-center">
						<li>HTML</li>
						<li>CSS</li>
						<li>Bootstrap 4/5</li>
						<li>Django Rest Framework</li>
						<li>REST APIs</li>
						<li>htmx</li>
						<li>Data messaging & broker using redis, celery</li>
					</ul>	
				</div>
			</div>
		</div>

		<div class="card col-md-3 m-2 p-2 text-center border border-dark-subtle rounded bg-primary-subtle" style="max-width:350px">
			<img class="card-img-top mx-auto my-2" src="{% static 'images/python_logo.png' %}">
			<div class="card-body text-center">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#python" aria-expanded="false" aria-controls="python" >
					Python Programmer
					<img src="{% static 'images/arrow-down.png' %}" style="width:5%">
				</button>
				<div class="collapse" id="python" data-bs-parent="#accordion">
					<ul class="list-unstyled  text-center">
						<li>Web Scrapping</li>
						<li>Working with REST APIS</li>
						<li>Infrastructure automation</li>
						<li>Building GUI Apps</li>
						<li>Scripts for DBs & Servers</li>
						<li>Classes, MultiThreading</li>
					</ul>	
				</div>
			</div>
		</div>

		<div class="card col-md-3 m-2 p-2 text-center border border-dark-subtle rounded bg-primary-subtle" style="max-width:350px">
			<img class="card-img-top mx-auto my-2" src="{% static 'images/dba_logo.png' %}">
			<div class="card-body text-center">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#dba" aria-expanded="false" aria-controls="dba" >
					Database Administration
					<img src="{% static 'images/arrow-down.png' %}" style="width:5%">
				</button>
				<div class="collapse" id="dba" data-bs-parent="#accordion">
					<ul class="list-unstyled  text-center">
						<li>Oracle</li>
						<li>SQL Server</li>
						<li>MySQL</li>
						<li>PostgreSQL</li>
						<li>Redis</li>
					</ul>	
				</div>
			</div>
		</div>

		<div class="card col-md-3 m-2 p-2 text-center border border-dark-subtle rounded bg-primary-subtle" style="max-width:350px">
			<img class="card-img-top mx-auto my-2" src="{% static 'images/scripting_logo.png' %}">
			<div class="card-body text-center">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#devops" aria-expanded="false" aria-controls="devops" >
					DevOps & Automation
					<img src="{% static 'images/arrow-down.png' %}" style="width:5%">
				</button>
				<div class="collapse" id="devops" data-bs-parent="#accordion">
					<ul class="list-unstyled  text-center">
						<li>Shell Scriting</li>
						<li>PowerShell Scriting</li>
						<li>Jenkins</li>
						<li>Ansible</li>
						<li>CI/CD</li>
						<li>Github-Actions</li>
					</ul>	
				</div>
			</div>
		</div>

		<div class="card col-md-3 m-2 p-2 text-center border border-dark-subtle rounded bg-primary-subtle" style="max-width:350px">
			<img class="card-img-top mx-auto my-2" src="{% static 'images/linux.png' %}">
			<div class="card-body text-center">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#linux" aria-expanded="false" aria-controls="linux" >
					Linux Administration
					<img src="{% static 'images/arrow-down.png' %}" style="width:5%">
				</button>
				<div class="collapse" id="linux" data-bs-parent="#accordion">
					<ul class="list-unstyled  text-center">
						<li>Shell Scriting</li>
						<li>User & Groups, Security Management</li>
						<li>Cronjobs</li>
						<li>Package Installation</li>
						<li>Automated Housekeeping</li>
						<li>FS & Backups</li>
						<li>Auto Services</li>
					</ul>	
				</div>
			</div>
		</div>

		<div class="card col-md-3 m-2 p-2 text-center border border-dark-subtle rounded bg-primary-subtle" style="max-width:350px">
			<img class="card-img-top mx-auto my-2" src="{% static 'images/git-gcp.png' %}">
			<div class="card-body text-center">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#cloud" aria-expanded="false" aria-controls="cloud" >
					Git & Cloud
					<img src="{% static 'images/arrow-down.png' %}" style="width:5%">
				</button>
				<div class="collapse" id="cloud" data-bs-parent="#accordion">
					<ul class="list-unstyled  text-center">
						<li>Working with Git & GitHub</li>
						<li>AWS, GCP, Azure</li>
						<li>Deploying Apps to AWS, Google Cloud, Azure & Heroku</li>
						<li>AWS Lambda, Cloud Functions</li>
						<li>Managed Databases - RDS</li>
					</ul>	
				</div>
			</div>
		</div>

		<div class="card col-md-3 m-2 p-2 text-center border border-dark-subtle rounded bg-primary-subtle" style="max-width:350px">
			<img class="card-img-top mx-auto my-2" src="{% static 'images/jira-logo.png' %}">
			<div class="card-body text-center">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#jira" aria-expanded="false" aria-controls="jira" >
					Jira Development
					<img src="{% static 'images/arrow-down.png' %}" style="width:5%">
				</button>
				<div class="collapse" id="jira" data-bs-parent="#accordion">
					<ul class="list-unstyled text-center">
						<li>Dyanmic & Condtional Forms</li>
						<li>Complex workflows & Multi level Approvals based on thresholds.</li>
						<li>Integration with external data source</li>
						<li>Advanced automation using REST APIs, Python programs, Webhooks, Github-Actions</li>
						<li>Teams integration</li>
						<li>PowerBI Dashboards within Jira</li>
					</ul>	
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}		