{% extends 'templates/_base.html' %}
{% load static %}

{% block content %}

<div class="container text-center border border-dark my-2 mx-auto">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col p-2 bg-info border border-dark">
            Column
        </div>
        <div class="col p-2 bg-info border border-dark">
            Column
        </div>
        <div class="col p-2 bg-info border border-dark">
            Column
        </div>
        <div class="col p-2 bg-info border border-dark">
            Column
        </div>
        <div class="col p-2 bg-info border border-dark">
            Column
        </div>

        <div class="col p-2 bg-info">
            <div class="card text-center border border-dark rounded bg-primary-subtle">
                <img class="thumbnail card-img-top mx-auto mt-2" src="{% static 'images/django_logo.png' %}" style="max-width:350px">
                <div class="card-body text-center">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#django" aria-expanded="false" aria-controls="djnago" >
                        Django Developer
                        <img src="{% static 'images/down-chevron.png' %}" style="width:5%">
                    </button>
                    <div class="collapse" id="django">
                        <ul class="list-unstyled accordion-body text-center">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Bootstrap 4/5</li>
                            <li>Django Rest Framework</li>
                            <li>REST APIs</li>
                            <li>htmx</li>
                            <li>Data messaging & broker using redis, celery</li>
                        </ul>	
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<br>

<div class="card col-lg-3 text-center border border-dark-subtle rounded bg-primary-subtle">
    <img class="thumbnail card-img-top mx-auto mt-2" src="{% static 'images/django_logo.png' %}" style="max-width:350px">
    <div class="card-body text-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#django" aria-expanded="false" aria-controls="djnago" >
            Django Developer
            <img src="{% static 'images/down-chevron.png' %}" style="width:5%">
        </button>
        <div class="collapse" id="django">
            <ul class="list-unstyled accordion-body text-center">
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap 4/5</li>
                <li>Django Rest Framework</li>
                <li>REST APIs</li>
                <li>htmx</li>
                <li>Data messaging & broker using redis, celery</li>
            </ul>	
        </div>
    </div>
</div>

<br>
<hr>
<br>


<div class="d-flex justify-content-evenly m-3 flex-wrap">
    
    <div class="card col-md-4 text-center border border-dark-subtle rounded bg-primary-subtle">
        <img class="thumbnail card-img-top mx-auto mt-2" src="{% static 'images/django_logo.png' %}" style="max-width:350px">
        <div class="card-body text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#django" aria-expanded="false" aria-controls="djnago" >
                Django Developer
                <img src="{% static 'images/down-chevron.png' %}" style="width:5%">
            </button>
            <div class="collapse" id="django">
                <ul class="list-unstyled accordion-body text-center">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap 4/5</li>
                    <li>Django Rest Framework</li>
                    <li>REST APIs</li>
                    <li>htmx</li>
                    <li>Data messaging & broker using redis, celery</li>
                </ul>	
            </div>
        </div>
    </div>

    <div class="card col-md-3 text-center border border-dark-subtle rounded bg-primary-subtle">
        <img class="thumbnail card-img-top mx-auto mt-2" src="{% static 'images/django_logo.png' %}" style="max-width:350px">
        <div class="card-body text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#django" aria-expanded="false" aria-controls="djnago" >
                Django Developer
                <img src="{% static 'images/down-chevron.png' %}" style="width:5%">
            </button>
            <div class="collapse" id="django">
                <ul class="list-unstyled accordion-body text-center">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap 4/5</li>
                    <li>Django Rest Framework</li>
                    <li>REST APIs</li>
                    <li>htmx</li>
                    <li>Data messaging & broker using redis, celery</li>
                </ul>	
            </div>
        </div>
    </div>


    <div class="card col-md-3 text-center border border-dark-subtle rounded bg-primary-subtle">
        <img class="thumbnail card-img-top mx-auto mt-2" src="{% static 'images/django_logo.png' %}" style="max-width:350px">
        <div class="card-body text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#django" aria-expanded="false" aria-controls="djnago" >
                Django Developer
                <img src="{% static 'images/down-chevron.png' %}" style="width:5%">
            </button>
            <div class="collapse" id="django">
                <ul class="list-unstyled accordion-body text-center">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap 4/5</li>
                    <li>Django Rest Framework</li>
                    <li>REST APIs</li>
                    <li>htmx</li>
                    <li>Data messaging & broker using redis, celery</li>
                </ul>	
            </div>
        </div>
    </div>


    <div class="card col-md-3 text-center border border-dark-subtle rounded bg-primary-subtle">
        <img class="thumbnail card-img-top mx-auto mt-2" src="{% static 'images/django_logo.png' %}" style="max-width:350px">
        <div class="card-body text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#django" aria-expanded="false" aria-controls="djnago" >
                Django Developer
                <img src="{% static 'images/down-chevron.png' %}" style="width:5%">
            </button>
            <div class="collapse" id="django">
                <ul class="list-unstyled accordion-body text-center">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap 4/5</li>
                    <li>Django Rest Framework</li>
                    <li>REST APIs</li>
                    <li>htmx</li>
                    <li>Data messaging & broker using redis, celery</li>
                </ul>	
            </div>
        </div>
    </div>


    <div class="card col-md-3 text-center border border-dark-subtle rounded bg-primary-subtle">
        <img class="thumbnail card-img-top mx-auto mt-2" src="{% static 'images/django_logo.png' %}" style="max-width:350px">
        <div class="card-body text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#django" aria-expanded="false" aria-controls="djnago" >
                Django Developer
                <img src="{% static 'images/down-chevron.png' %}" style="width:5%">
            </button>
            <div class="collapse" id="django">
                <ul class="list-unstyled accordion-body text-center">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap 4/5</li>
                    <li>Django Rest Framework</li>
                    <li>REST APIs</li>
                    <li>htmx</li>
                    <li>Data messaging & broker using redis, celery</li>
                </ul>	
            </div>
        </div>
    </div>


</div>

<div class="">
    {% include "portfolio_3.html" %}    
    </div>

{% endblock %}