{% extends 'templates/_base.html' %}
{% load static %}
{% block title %}Jira Development & Administration{% endblock%}



{% block meta_desc %}
"Full stack Jira Development and Jira Administration, Jira automation using Python script, Bash, PowerShell script, REST API, Github Actions, AWS Lambda, Dynamic & Conditional, User interactive Forms.
Fully end to end automated business logic and application developemnt,
User Management, Onboarding, Finance, ITIL/ITSM, Monitoring, Ticketing Application developemnt using Jira.
"
{% endblock %}
{% block meta_og_title %}"IT & Technology Consulting"{% endblock %}
{% block meta_og_type %}"website"{% endblock %}
{% block meta_og_desc %}"Web Development, Javascript, NodeJS, Python & Django Full Stack, Jira Development & Administration, Databases Expertise (Oracle, MySQL, PostgreSQL, SQL Server), IT Automation, Linux, Bash & Powershell Scripting, REST API development & integrations, Cloud, Docker, CI/CD."{% endblock %}
{% block meta_og_url %}"https://aashutosh.fly.dev/"{% endblock %}
{% block meta_twtr_title %}"IT & Technology Consulting"{% endblock %}
{% block meta_twtr_desc %}"Web Development, Javascript, NodeJS, Python & Django Full Stack, Jira Development & Administration, Databases Expertise (Oracle, MySQL, PostgreSQL, SQL Server), IT Automation, Linux, Bash & Powershell Scripting, REST API development & integrations, Cloud, Docker, CI/CD."{% endblock %}


{% block content %}

<div class="container-fluid text-center border" id="">
    <br>
    <div class="row justify-content-center">
        <img class="img-fluid rounded" src="{% static 'images/jira-integration.png' %}" style="max-width:60vw">    
    </div>
    <br>  
    <div class="row ">
        <h3>Jira Development & Administration</h3>
        <p>Full stack Jira Development</p>
        <small>
        <Ul class="col-sm-12 col-md-6 list-group list-group-flush mx-auto">
            <li class="list-group-item">Custom Application development using Jira Service Management.</li>
            <li class="list-group-item">Dynamic & Conditional, User interactive Forms.</li>
            <li class="list-group-item">External data sources like Databases, REST API linked Custom fields.</li>
            <li class="list-group-item">Fully automated business logic implementation.</li>
            <li class="list-group-item">User Onboarding & Management, Finance, ITIL/ITSM, Monitoring, Ticketing Application development.</li>
            <li class="list-group-item">External & Internal CRM, Customer Relationship Management Application.</li>
            <li class="list-group-item">Reports & Interactive Dashboards, integration with PowerBI, Data visualization.</li>
            <li class="list-group-item">Automatic Access request approval system.</li>
            <li class="list-group-item">Integration with Microsoft Teams, Slack, Jira Bot development</li>
            <li class="list-group-item">3rd Party software & application integrations using</li>
            <li class="list-group-item">Infrastructure & Cloud integrations using Python, Bash, Powershell Scripts & REST API.</li>
            <li class="list-group-item">Advanced automations using GitHub-Actions, AWS Lambda, GCP & Azure Functions</li>
            <li class="list-group-item">Asset Management & continuous integrations with IT assets & infrastructre.</li>
            <li class="list-group-item">Single Sign On (SSO), OAuth2 login Authentication integration using Okta, Microsoft and other SAML providers.</li>
            <li class="list-group-item">Custom Email notification HTML templates with issue data.</li>
            <li class="list-group-item">Jira Cloud Administration</li>
            <li class="list-group-item">Jira Data Center Installation, multi node load balancing using NGINX, server & database administration.</li>
        </Ul></small>
    </div>

    <br>
    <br>

    <div class="row justify-content-center align-items-center m-2 p-2"> 
        <div class="col-md-6">
            <img class="img-fluid rounded border" src="https://i.ibb.co/XS0zTSb/dynamic-forms.gif" style="max-width:40vw; max-height:60vh"> 
        </div>
        <div class="col-md-6">
            <h3>Dynamic Forms</h3>            
            <p>Dynamic & Interactive Requsest Forms, Change request forms based on user interaction, Make questions dynamic based on customer questionnaires. Ask user direct specific questions related to incident. Highly progmatic.</p>     
        </div>  
    </div>

    <br>
    <br>

    <div class="row justify-content-center align-items-center m-2 p-2">
        <div class="col-md-6">
            <h3>Complex Workflows</h3>
            <p>Implement any business logic with Workflows and fully automated decisions with Approvals. Make best use of custom triggers, Validators, Conditions & Post functions in Jira workflows to acheive 100% automation without any extra cost.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid rounded" src="https://i.ibb.co/VDGSBPZ/Approval-workflow.jpg">    
        </div>
    </div>

    <br>
    <br>

    <div class="row justify-content-center align-items-center m-2 p-2">
        <div class="col-md-6">
            <img class="img-fluid rounded" src="https://i.ibb.co/HH0ygjg/html-email-template.jpg" style="max-width:30vw">    
        </div>
        <div class="col-md-6">
            <h3>HTML Email Templates</h3>
            <p>Design Custom Email HTML Templates</p>
            <p>Design look & feel, send only desired data users in html templates</p>
        </div>    
    </div>

    <br>
    <br>

    <div class="row justify-content-center align-items-center m-2 p-2">
        <div class="col-md-6">
            <h3>Data Center Installation</h3>
           <small><ul class="list-group list-group-flush mx-auto col-6">
            <li class="list-group-item">Linux & Windows Server</li>
            <li class="list-group-item">Multi Node installation</li>
            <li class="list-group-item">Load Balancing using NGINX</li>
            <li class="list-group-item">Reverse Proxy, SSL Termination</li>
            <li class="list-group-item">Dedicated REST API Traffic</li>
            <li class="list-group-item">MySQL, Postgres, Oracle, SQL Server Database & Server administration</li>
            <li class="list-group-item">Automated Backups</li>
            <li class="list-group-item">LDAP & AD integration</li>
           </ul></small>
        </div>  

        <div class="col-md-6">
            <img class="img-fluid rounded" src="https://i.ibb.co/8KPGQ9s/JIRAData-Center-4-node-architecture-diagram.png" style="max-width:30vw">    
        </div> 
    </div>

    <br>
    <br>

</div>



{% endblock %}